*{margin:0; padding:0; box-sizing: border-box;}
a{color:inherit; text-decoration: none;}
li{list-style:none;}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{position:relative;}
#intro_logo{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:transform 1s ease, opacity 1s ease;
}
#intro_logo > h1{
  color:aqua;
  /* font-size:7rem; */
  font-size:100px;
}

#wrap{
  position:relative;
  width:100%; 
  transform:translateY(122px);
  transition: transform 1s ease;
}
body.active #intro_logo {
  transform: translateY(100%); 
  opacity: 0;
}
body.active #wrap {
  transform: translateY(0);
}

header{
    height:80px;
    position: relative;
}
#header_list{
    width:30%;
    align-content: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: "Ancizar Serif", serif;
    font-weight:700;
    font-size:20px;
}
#header_list{cursor: pointer;}

/* section1 */
#section1{
   height:100vh;
   margin-bottom: 400px;
   position:relative;
}

.video-background{
    width:100%;
    height:100%;
    object-fit: cover;
}

.text-container{
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    /* transform: translateY(-50%); */
    transform: translate(-50%, -50%);
    color:#fff;;
    font-size:2.7rem;
    font-family: 'GowunDodum-Regular';
    font-weight:600;
    text-align:center;
    z-index:10;
}
   
/* section2 */
.up{animation:up .5s forwards }
@keyframes up{
    100%{transform:translateY(-200px)}
}

#section2{position: relative;}
#section2 > h2{
    width:180px;
    position: absolute;
    left:28%;
    font-size: 3rem;
    z-index: 1;
    font-family: "Graduate", serif;
    font-weight:400;
}
#section2 > h2 > span{
    position: absolute;
    right:0;
}

#sec2-wrap{
  display:flex;
  width:100%;
  height:465px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  top:100px;
}

#left{
  width:35%;
  height:100%;
  position: absolute;
  left:0;
}
#left-top{
  width:100%;
  height:50%;
  padding:10px 0 0 10px;
  border-bottom: 1px solid #000;
  position: relative;
}
#skill_list{
  width:320px;
  display:flex;
  justify-content: center;
  gap:28px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
#skill_list img{
  width:55px;
  height:79px;
}

#skill_list2{
  width:320px;
  display:flex;
  justify-content: space-between;
  position: relative;
  top:90px;
  left:50%;
  transform: translateX(-50%);
}
#skill_list2 img{width:55px; height:55px;}

#left-bottom{
  height:50%;
  padding:10px 0 0 10px;
  line-height:2.5;
  font-family: 'RIDIBatang';
}
.left-title{
  text-align: center;
  margin-bottom:18px;
  font-family: "Ancizar Serif", serif;
  font-weight:700;
}

#right{
  position: absolute;
  width:38%;
  height:100%;
  right:0;
  padding-top:50px;
  font-family: 'RIDIBatang';
}
#right_top{
  line-height:3;
}
#right-bottom{
  width:100%;
  position: absolute;
  top:65%;

}
#right-bottom > h3{margin-bottom:10px;}
#main_img{
  width:380px;
  height:488px;
  position: absolute;
  top:50%;
  left:45%;
  transform: translateX(-50%);
}
#main_img img{width:100%; height:100%;}

/* section3 */
#work{
  position: absolute;
  top:2100px;
  right:0;
  width:100%;
}
#work h2{
  padding:50px 0 80px 0;
  text-align: center;
  font-family: "Ancizar Serif", serif;
  font-weight:900;
  font-size:1.9rem;
  width:100%;
}
#work_wrap{
  width:100%;
  height:600px;
  padding:0 0 0 100px;
}
#work_wrap ul{
  width:100%;
  /* height:100%; */
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
}
#work_wrap ul li .list{
  width:500px;
  padding:50px 0;
  text-align: center;
  display:flex;
  justify-content: space-around;
  align-items:center;
  cursor: pointer;
  border-bottom:1px solid rgba(0,0,0,.1);
  position:relative;
}
.list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.3s ease;
}

.list.active::after {
  width: 100%;
}

#hompage_img{position:relative;} 
#hompage_img .work_h{
   width:900px;
   display:none;
}
#hompage_img .work_h.active{display:block;}
#hompage_img .work_h img{
  width:100%;
  height:100%;
}

.pop-up{position: relative; width:100%; height:100%; display:none;}
.pop-up-cont{
  width:100%;
  background-color: #f7f5f5;
  position:absolute;
  left:50%;
  top:850px;
  transform:translate(-50%, -50%);
  padding:20px;
}
.button{
  position: absolute;
  right:30px;
  top:15px;
  font-size:2rem;
}
.pop-up-cont > ul{
  display:flex;
  justify-content: space-around;
  align-items:center;
  gap:15px;
}
.pop-up-t{
  line-height:2;
  font-family: "Ancizar Serif", serif;
  font-weight:900;
}
.pop-up-t h4{font-size:1.8rem;}
.pop-up-t p,.pop-up-t span{font-size:1.3rem;}



.pop-up-img{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.pop-up-img div{width:600px; margin-right:20px;}
.pop-up-img div img{width:100%;}
.label{
  font-size:2.5rem;
  color:#ffff;
  text-align: center;
  /* padding:8px 0; */
  background-color: rgb(13, 13, 122);
}
/* section4 */
#section4-wrap{
  position: relative;
  margin-top:1700px;

}
#section4{
  width:100%;
  overflow:hidden;
  /* top:750px; */
}
#section4 > h2{
  padding:0 0 20px 20px;
  font-family: "Ancizar Serif", serif;
  font-size:1.9rem;
  font-weight:900;
  text-align:center;
}

#work_intro{
  position:absolute;
  top:2550px;
  left:0;
  width:100%;
  /* height:100%; */
  z-index: 10;
  transform:scale(0.5);
  transition:all 0.8s ease-out;
  pointer-events: none;
  opacity:0;
}
#work_intro img{width:100%;}
#work_intro.active {
  opacity: 1;
  transform: scale(1);
}
#work_intro.hide{
  opacity: 0;
  transform: translateY(100px); 
}


.swiper {
  width:900px;
  height:auto;
  padding: 50px 0;
  overflow: visible !important;
  opacity:1;
  transition: all 0.8s ease;
  position:relative;
}
.swiper.show{
  opacity: 1;
  transform: translateX(0);
}
.swiper-slide {
  position:relative;
  overflow:hidden;
}
.swiper-slide a{height:500px !important;}
.swiper-slide a img{width:100%; height:100%; object-fit: cover;}
.overlay,.overlay-1{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:69%;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8),
    transparent
  );
  transform: translateX(100%);
  transition:all 0.2s ease;
  border-radius:30px;
}
.overlay-1{width:89%; right:0;}
.swiper-slide:not(.swiper-slide-active) {
  pointer-events: none;
}
.swiper-slide-active:hover .overlay,
.swiper-slide-active:hover .overlay-1{
  transform: translateX(0);
}
.swiper-slide .text{
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.swiper-slide-active:hover .text{
  opacity:1;
  transform:translatex(0);
  transition-delay:0.2s;
  color:#fff;
}

.overlay h3,.overlay-1 h3{
  font-size:20px;
  margin-bottom:10px;
}
.overlay p, .overlay-1 p{
  font-size:14px;
  opacity:0.8;
}
.overlay span, .overlay-1 span{
  display:block;
  font-size:13px;
  margin-top:18px;
  text-align: center;
}


.swiper-button-next,.swiper-button-prev{
  color:#000 !important;
  width:80px !important;
  height:80px !important;
  position:absolute ;
  top:45% !important;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: -62px !important;
}

.swiper-button-next {
  right: -62px !important;
}


/* section5 */
#section5{
  position: relative;
  background-color: yellow;
}
#section5_wrap{
  position: absolute;
  top:250px;
  left:0;
  width:100%;
}
#section5 h2,
#section6 h2{
  padding:30px 0;
  text-align: center;
  font-family: "Ancizar Serif", serif;
  font-weight:900;
  font-size:1.9rem;
}
#sec5_list,
#sec6_list{
  width:98%;
  display:flex;
  justify-content: space-around;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
#sec5_list div,
#sec6_list div{
  width:calc(100% / 3);
  cursor: pointer;
}
#sec5_list div img,
#sec6_list div img{width:100%; height:100%;}

#sec5_list div:hover,
#sec6_list div:hover{
  transform:scale(106%);
  transition:0.5s;
}

/* section6 */
#section6{
  position:relative;
}
#section6  >  ul{
  width:100%;
  height:88vh;
  position: absolute;
  top:680px;
}
#sec6_list div{width:300px; height:533px;}
#sec6_list{width:65%;}

.banner,.poster{
  width:100%;
  height:100vh;
  background-color: rgb(0,0,0,0.2);
  align-content:center;
  position:fixed;
  top:0;
  display:none;
  z-index: 10;
}

.banner img{
  position: relative;
  left:50%;
  transform:translateX(-50%);
}
button{background-color: none;}
.close{
  width:30px;
  height:30px;
  position: absolute;
  top:50px;
  right:100px;
  cursor: pointer;
}

.poster > img{
  width:400px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}
.hidden{
  height:100%;
  min-height:100%;
  overflow: hidden !important;
  touch-action:none;

}


/* footer */

#f_wrap{
  width:100%;
  position: absolute;
  /* top:4000px; */
  top:4850px;
  line-height:2;
  padding:18px 0;
  color:#fff;
  font-family: 'RIDIBatang';
  background-color: black;
}
#thank-you{
  text-align: center;
  font-size:32px;
  margin-bottom: 1rem;
  font-family: "Ancizar Serif", serif;
  font-weight:900;
}
#adress{
  position: absolute;
  right:18%;
  top:38px;
}
#adress div{
  display:flex;
  gap:10px;
}
#adress div:nth-child(1){margin-bottom: 8px;}
.adress_img{width:40px;}
.adress_img img{
  width:100%;
  height:100%;
  
}
#f_text{text-align: center;}
#adress span{display:block;}



@media (max-width:768px) {
  #header_list {width:90%;}

  .text-container{
    font-size:1.5rem;
  }
  #section1{
    height:100%;
    margin-bottom:350px;
  }
  #main_img{width:254px; height:auto;}

  #sec2-wrap{top:180px;}
  #section2 > h2{
    top:-26px;
    left:3%
  }
  #skill_list img{
    width:30px; 
    height:auto;
  }
  #skill_list2{width:60%;}
  #skill_list2 img{
    width:30px; 
    height:30px;
  }
  #right {width:29%;}

  /* section3 */
  #work{top:1550px;}
  #work h2{padding-bottom:30px;}
  #work_wrap{padding:0;}
  #work_wrap ul{flex-direction: column;}
  #work_wrap > ul > li{
    width:100%; 
    display:flex;
  }
  #work_wrap ul li .list{
    width:100%;
    flex-direction: column;
    justify-content: space-between;

  }
  .work_h{
    width:100%;
    margin-top:80px;
  }

  /* section4 */
  #work_intro{display:none !important;}
  #section4-wrap{
    /* margin-top:1950px; */
    margin-top:1855px;
  }
  #section4 > h2{padding:20px 0;}
  .swiper{
    width:100%;
    display:block !important;
    opacity:1 !important;
  }


  #section5_wrap{top:180px;}
  #sec5_list{
    flex-direction:column;
  }
  #sec5_list div{width:100%;}

  #section6 > ul{top:852px;}
  #sec6_list{width:90%;}

  /* footer */
  #f_wrap{
    height:268px;
    top:3680px;
  }
  #adress{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    left:0%;
    font-size:12px;
    /* flex-direction:row; */
    top:199px;
  }
  #adress div{align-items:center;}
  #adress div:nth-child(1){margin-bottom:0;}
  .adress_img{width:30px;}
  .adress_img img{
  width:100%;
  height:100%;
  }

  #f_text{padding-top:0;}
}


