*{margin:0; padding:0; box-sizing: border-box;}
li{list-style:none;}
a{color:inherit; text-decoration: none;}
@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-display: swap;
}

/* @font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-display: swap;
} */

@font-face {
    font-family: 'KerisBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISBAEUM_L.woff2') format('woff2');
    font-display: swap;
}
